---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>LexOffice OBX Importer</title>
	</head>
	<body>
		<h1>LexOffice OBX Importer</h1>
		<form>
			<label for="obx">OBX Datei</label>
			<input id="obx" type="file" />
			<label for="obx">API Key</label>
			<input type="text" />
			<button>Vorschau</button>
			<button>Import</button>
		</form>
	</body>
</html>
